.download-button {
  background-color: rgb(0, 77, 128) !important;
  color: white !important;
  border: none;

  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition */
}

.download-button:hover {
  background-color: white !important;
  transform: scale(1.05); /* Slightly enlarge the button */
  color: rgb(0, 77, 128) !important;
}
