.Messages {
  display: flex;
  height: 100%;
  min-height: 90vh;
}

.contacts {
  width: 25%;
  border-right: 1px solid #74C5EC;
  padding: 10px;
  background-color: #006494;
  color: #fff;
}

.contact {
  padding: 10px;
  cursor: pointer;
}

.contact.active {
  background-color: #74C5EC;
  color: #006494;
}

.chat {
  width: 75%;
  display: flex;
  flex-direction: column;
}

.chat-header {
  padding: 10px;
  border-bottom: 1px solid #74C5EC;
  background-color: #006494;
  color: #fff;
}

.chat-messages {
  flex-grow: 1;
  padding: 10px;
  overflow-y: auto;
}

.chat-message {
  margin-bottom: 10px;
}

.chat-message.sent .message-content {
  background-color: #74C5EC;
  align-self: flex-end;
  color: #006494;
}

.chat-message.received .message-content {
  background-color: #f1f0f0;
  align-self: flex-start;
}

.message-sender {
  font-weight: bold;
  color: #006494;
}

.message-content {
  padding: 10px;
  border-radius: 5px;
}

.chat-input {
  display: flex;
  padding: 10px;
  border-top: 1px solid #74C5EC;
  background-color: #006494;
}

.chat-input input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #74C5EC;
  border-radius: 5px;
  background-color: #fff;
  color: #006494;
}

.chat-input button {
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  background-color: #74C5EC;
  color: #006494;
  border-radius: 5px;
  cursor: pointer;
}